<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestgo.user.dao.UtiIAccountMapper" >
  <resultMap id="BaseResultMap" type="com.bestgo.user.entity.UtiIAccount" >
		<result column="AccCode" property="accCode" jdbcType="VARCHAR" />
		<result column="SvrCode" property="svrCode" jdbcType="VARCHAR" />
		<result column="AccName" property="accName" jdbcType="VARCHAR" />
		<result column="PassWord" property="passWord" jdbcType="VARCHAR" />
		<result column="UserCode" property="userCode" jdbcType="VARCHAR" />
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="FAccCode" property="fAccCode" jdbcType="VARCHAR" />
		<result column="SvrName" property="svrName" jdbcType="VARCHAR" />
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" />
		<result column="ValidEndDate" property="validEndDate" jdbcType="DATE" />
		<result column="CreateDate" property="createDate" jdbcType="DATE" />
		<result column="UpdateDate" property="updateDate" jdbcType="DATE" />
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" />
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" />
		<result column="LoginPowerFlag" property="loginPowerFlag" jdbcType="VARCHAR" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		<result column="PasswdSetDate" property="passwdSetDate" jdbcType="DATE" />
		<result column="PasswdExpireDate" property="passwdExpireDate" jdbcType="DATE" />
		<result column="AccCode" property="accCode" jdbcType="VARCHAR" />
		<result column="SvrCode" property="svrCode" jdbcType="VARCHAR" />
		<result column="AccName" property="accName" jdbcType="VARCHAR" />
		<result column="PassWord" property="passWord" jdbcType="VARCHAR" />
		<result column="UserCode" property="userCode" jdbcType="VARCHAR" />
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="FAccCode" property="fAccCode" jdbcType="VARCHAR" />
		<result column="SvrName" property="svrName" jdbcType="VARCHAR" />
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" />
		<result column="ValidEndDate" property="validEndDate" jdbcType="DATE" />
		<result column="CreateDate" property="createDate" jdbcType="DATE" />
		<result column="UpdateDate" property="updateDate" jdbcType="DATE" />
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" />
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" />
		<result column="LoginPowerFlag" property="loginPowerFlag" jdbcType="VARCHAR" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		<result column="PasswdSetDate" property="passwdSetDate" jdbcType="DATE" />
		<result column="PasswdExpireDate" property="passwdExpireDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  accCode,svrCode,accName,passWord,userCode,comCode,userName,fAccCode,svrName,validStatus,validEndDate,createDate,updateDate,creatorCode,updaterCode,loginPowerFlag,flag,passwdSetDate,passwdExpireDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sinosoft.ims.kernel.entity.UtiIAccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from UtiIAccount 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sinosoft.ims.kernel.entity.UtiIAccountKey" >
    select 
    <include refid="Base_Column_List" />
    from UtiIAccount 
    where 
	 AccCode = #{accCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sinosoft.ims.kernel.entity.UtiIAccountKey" >
    delete from UtiIAccount 
    where 
		 AccCode = #{accCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.ims.kernel.entity.UtiIAccount" >
    insert into UtiIAccount  (AccCode,SvrCode,AccName,PassWord,UserCode,ComCode,UserName,FAccCode,SvrName,ValidStatus,ValidEndDate,CreateDate,UpdateDate,CreatorCode,UpdaterCode,LoginPowerFlag,Flag,PasswdSetDate,PasswdExpireDate)
    values (#{accCode,jdbcType=VARCHAR},#{svrCode,jdbcType=VARCHAR},#{accName,jdbcType=VARCHAR},#{passWord,jdbcType=VARCHAR},#{userCode,jdbcType=VARCHAR},#{comCode,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{fAccCode,jdbcType=VARCHAR},#{svrName,jdbcType=VARCHAR},#{validStatus,jdbcType=VARCHAR},#{validEndDate,jdbcType=DATE},#{createDate,jdbcType=DATE},#{updateDate,jdbcType=DATE},#{creatorCode,jdbcType=VARCHAR},#{updaterCode,jdbcType=VARCHAR},#{loginPowerFlag,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{passwdSetDate,jdbcType=DATE},#{passwdExpireDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.ims.kernel.entity.UtiIAccount" >
    insert into UtiIAccount
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="accCode != null" >
        AccCode,
		</if>
<if test="svrCode != null" >
        SvrCode,
		</if>
<if test="accName != null" >
        AccName,
		</if>
<if test="passWord != null" >
        PassWord,
		</if>
<if test="userCode != null" >
        UserCode,
		</if>
<if test="comCode != null" >
        ComCode,
		</if>
<if test="userName != null" >
        UserName,
		</if>
<if test="fAccCode != null" >
        FAccCode,
		</if>
<if test="svrName != null" >
        SvrName,
		</if>
<if test="validStatus != null" >
        ValidStatus,
		</if>
<if test="validEndDate != null" >
        ValidEndDate,
		</if>
<if test="createDate != null" >
        CreateDate,
		</if>
<if test="updateDate != null" >
        UpdateDate,
		</if>
<if test="creatorCode != null" >
        CreatorCode,
		</if>
<if test="updaterCode != null" >
        UpdaterCode,
		</if>
<if test="loginPowerFlag != null" >
        LoginPowerFlag,
		</if>
<if test="flag != null" >
        Flag,
		</if>
<if test="passwdSetDate != null" >
        PasswdSetDate,
		</if>
<if test="passwdExpireDate != null" >
        PasswdExpireDate,
		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="accCode != null" >
        AccCode,jdbcType=VARCHAR,
		</if>
		<if test="svrCode != null" >
        SvrCode,jdbcType=VARCHAR,
		</if>
		<if test="accName != null" >
        AccName,jdbcType=VARCHAR,
		</if>
		<if test="passWord != null" >
        PassWord,jdbcType=VARCHAR,
		</if>
		<if test="userCode != null" >
        UserCode,jdbcType=VARCHAR,
		</if>
		<if test="comCode != null" >
        ComCode,jdbcType=VARCHAR,
		</if>
		<if test="userName != null" >
        UserName,jdbcType=VARCHAR,
		</if>
		<if test="fAccCode != null" >
        FAccCode,jdbcType=VARCHAR,
		</if>
		<if test="svrName != null" >
        SvrName,jdbcType=VARCHAR,
		</if>
		<if test="validStatus != null" >
        ValidStatus,jdbcType=VARCHAR,
		</if>
		<if test="validEndDate != null" >
        ValidEndDate,jdbcType=DATE,
		</if>
		<if test="createDate != null" >
        CreateDate,jdbcType=DATE,
		</if>
		<if test="updateDate != null" >
        UpdateDate,jdbcType=DATE,
		</if>
		<if test="creatorCode != null" >
        CreatorCode,jdbcType=VARCHAR,
		</if>
		<if test="updaterCode != null" >
        UpdaterCode,jdbcType=VARCHAR,
		</if>
		<if test="loginPowerFlag != null" >
        LoginPowerFlag,jdbcType=VARCHAR,
		</if>
		<if test="flag != null" >
        Flag,jdbcType=VARCHAR,
		</if>
		<if test="passwdSetDate != null" >
        PasswdSetDate,jdbcType=DATE,
		</if>
		<if test="passwdExpireDate != null" >
        PasswdExpireDate,jdbcType=DATE,
		</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.ims.kernel.entity.UtiIAccount" >
    update UtiIAccount 
    <set >
		
<if test="svrCode  != null" >      
        SvrCode = #{svrCode ,jdbcType=VARCHAR},</if>
<if test="accName  != null" >      
        AccName = #{accName ,jdbcType=VARCHAR},</if>
<if test="passWord  != null" >      
        PassWord = #{passWord ,jdbcType=VARCHAR},</if>
<if test="userCode  != null" >      
        UserCode = #{userCode ,jdbcType=VARCHAR},</if>
<if test="comCode  != null" >      
        ComCode = #{comCode ,jdbcType=VARCHAR},</if>
<if test="userName  != null" >      
        UserName = #{userName ,jdbcType=VARCHAR},</if>
<if test="fAccCode  != null" >      
        FAccCode = #{fAccCode ,jdbcType=VARCHAR},</if>
<if test="svrName  != null" >      
        SvrName = #{svrName ,jdbcType=VARCHAR},</if>
<if test="validStatus  != null" >      
        ValidStatus = #{validStatus ,jdbcType=VARCHAR},</if>
<if test="validEndDate  != null" >      
        ValidEndDate = #{validEndDate ,jdbcType=DATE},</if>
<if test="createDate  != null" >      
        CreateDate = #{createDate ,jdbcType=DATE},</if>
<if test="updateDate  != null" >      
        UpdateDate = #{updateDate ,jdbcType=DATE},</if>
<if test="creatorCode  != null" >      
        CreatorCode = #{creatorCode ,jdbcType=VARCHAR},</if>
<if test="updaterCode  != null" >      
        UpdaterCode = #{updaterCode ,jdbcType=VARCHAR},</if>
<if test="loginPowerFlag  != null" >      
        LoginPowerFlag = #{loginPowerFlag ,jdbcType=VARCHAR},</if>
<if test="flag  != null" >      
        Flag = #{flag ,jdbcType=VARCHAR},</if>
<if test="passwdSetDate  != null" >      
        PasswdSetDate = #{passwdSetDate ,jdbcType=DATE},</if>
<if test="passwdExpireDate  != null" >      
        PasswdExpireDate = #{passwdExpireDate ,jdbcType=DATE},</if>
    </set>
    where 
		<if test="accCode  != null" >
        AccCode = #{accCode ,jdbcType=VARCHAR}
      </if>		
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.ims.kernel.entity.UtiIAccount" >
    update PRPDCODE
    set 
				
<if test="svrCode  != null" >SvrCode = #{svrCode ,jdbcType=VARCHAR},</if>		
<if test="accName  != null" >AccName = #{accName ,jdbcType=VARCHAR},</if>		
<if test="passWord  != null" >PassWord = #{passWord ,jdbcType=VARCHAR},</if>		
<if test="userCode  != null" >UserCode = #{userCode ,jdbcType=VARCHAR},</if>		
<if test="comCode  != null" >ComCode = #{comCode ,jdbcType=VARCHAR},</if>		
<if test="userName  != null" >UserName = #{userName ,jdbcType=VARCHAR},</if>		
<if test="fAccCode  != null" >FAccCode = #{fAccCode ,jdbcType=VARCHAR},</if>		
<if test="svrName  != null" >SvrName = #{svrName ,jdbcType=VARCHAR},</if>		
<if test="validStatus  != null" >ValidStatus = #{validStatus ,jdbcType=VARCHAR},</if>		
<if test="validEndDate  != null" >ValidEndDate = #{validEndDate ,jdbcType=DATE},</if>		
<if test="createDate  != null" >CreateDate = #{createDate ,jdbcType=DATE},</if>		
<if test="updateDate  != null" >UpdateDate = #{updateDate ,jdbcType=DATE},</if>		
<if test="creatorCode  != null" >CreatorCode = #{creatorCode ,jdbcType=VARCHAR},</if>		
<if test="updaterCode  != null" >UpdaterCode = #{updaterCode ,jdbcType=VARCHAR},</if>		
<if test="loginPowerFlag  != null" >LoginPowerFlag = #{loginPowerFlag ,jdbcType=VARCHAR},</if>		
<if test="flag  != null" >Flag = #{flag ,jdbcType=VARCHAR},</if>		
<if test="passwdSetDate  != null" >PasswdSetDate = #{passwdSetDate ,jdbcType=DATE},</if>		
<if test="passwdExpireDate  != null" >PasswdExpireDate = #{passwdExpireDate ,jdbcType=DATE},</if>		
    where 
			<if test="accCode  != null" >
        AccCode = #{accCode ,jdbcType=VARCHAR}
      </if>	
  </update>
  
  <!-- 根据用户代码删除用户 -->
  <delete id="deleteByUserCode" parameterType="String" >
    delete from UtiIAccount 
    where userCode = #{userCode,jdbcType=VARCHAR}
  </delete>
  
</mapper>