<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.ims.kernel.dao.UtiIUserMapper" >
  <resultMap id="BaseResultMap" type="com.sinosoft.ims.kernel.entity.UtiIUser" >
		<result column="UserCode" property="userCode" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="SalesManCode" property="salesManCode" jdbcType="VARCHAR" />
		<result column="SalesManName" property="salesManName" jdbcType="VARCHAR" />
		<result column="UserType" property="userType" jdbcType="VARCHAR" />
		<result column="UserSort" property="userSort" jdbcType="VARCHAR" />
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" />
		<result column="NewUserCode" property="newUserCode" jdbcType="VARCHAR" />
		<result column="OldUserCode" property="oldUserCode" jdbcType="VARCHAR" />
		<result column="CrossUserFlag" property="crossUserFlag" jdbcType="VARCHAR" />
		<result column="RoamingType" property="roamingType" jdbcType="VARCHAR" />
		<result column="RoamingStatus" property="roamingStatus" jdbcType="VARCHAR" />
		<result column="RoamComCode" property="roamComCode" jdbcType="VARCHAR" />
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" />
		<result column="AuditStatus" property="auditStatus" jdbcType="VARCHAR" />
		<result column="ValidEndDate" property="validEndDate" jdbcType="DATE" />
		<result column="CreateDate" property="createDate" jdbcType="DATE" />
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" />
		<result column="UpdateDate" property="updateDate" jdbcType="DATE" />
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		<result column="UserCode" property="userCode" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="SalesManCode" property="salesManCode" jdbcType="VARCHAR" />
		<result column="SalesManName" property="salesManName" jdbcType="VARCHAR" />
		<result column="UserType" property="userType" jdbcType="VARCHAR" />
		<result column="UserSort" property="userSort" jdbcType="VARCHAR" />
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" />
		<result column="NewUserCode" property="newUserCode" jdbcType="VARCHAR" />
		<result column="OldUserCode" property="oldUserCode" jdbcType="VARCHAR" />
		<result column="CrossUserFlag" property="crossUserFlag" jdbcType="VARCHAR" />
		<result column="RoamingType" property="roamingType" jdbcType="VARCHAR" />
		<result column="RoamingStatus" property="roamingStatus" jdbcType="VARCHAR" />
		<result column="RoamComCode" property="roamComCode" jdbcType="VARCHAR" />
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" />
		<result column="AuditStatus" property="auditStatus" jdbcType="VARCHAR" />
		<result column="ValidEndDate" property="validEndDate" jdbcType="DATE" />
		<result column="CreateDate" property="createDate" jdbcType="DATE" />
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" />
		<result column="UpdateDate" property="updateDate" jdbcType="DATE" />
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		
		<result column="UserLevel" property="userLevel" jdbcType="VARCHAR" />
		<result column="JobTitle" property="jobTitle" jdbcType="VARCHAR" />
		<result column="Department" property="department" jdbcType="VARCHAR" />
		<result column="BusinessLevel" property="businessLevel" jdbcType="VARCHAR" />
		<result column="State" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  userCode,userName,salesManCode,salesManName,userType,userSort,comCode,newUserCode,oldUserCode,crossUserFlag,roamingType,roamingStatus,roamComCode,validStatus,auditStatus,validEndDate,createDate,creatorCode,updateDate,updaterCode,flag,
  userLevel,jobTitle,department,businessLevel,state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sinosoft.ims.kernel.entity.UtiIUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from UtiIUser 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sinosoft.ims.kernel.entity.UtiIUserKey" >
    select 
    <include refid="Base_Column_List" />
    from UtiIUser 
    where 
	 UserCode = #{userCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sinosoft.ims.kernel.entity.UtiIUserKey" >
    delete from UtiIUser 
    where 
		 UserCode = #{userCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.ims.kernel.entity.UtiIUser" >
    insert into UtiIUser  (UserCode,UserName,SalesManCode,SalesManName,UserType,UserSort,ComCode,NewUserCode,OldUserCode,CrossUserFlag,RoamingType,RoamingStatus,RoamComCode,ValidStatus,AuditStatus,ValidEndDate,CreateDate,CreatorCode,UpdateDate,UpdaterCode,Flag,
    userLevel,jobTitle,department,businessLevel,state)
    values (#{userCode,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{salesManCode,jdbcType=VARCHAR},#{salesManName,jdbcType=VARCHAR},#{userType,jdbcType=VARCHAR},#{userSort,jdbcType=VARCHAR},#{comCode,jdbcType=VARCHAR},#{newUserCode,jdbcType=VARCHAR},#{oldUserCode,jdbcType=VARCHAR},#{crossUserFlag,jdbcType=VARCHAR},#{roamingType,jdbcType=VARCHAR},#{roamingStatus,jdbcType=VARCHAR},#{roamComCode,jdbcType=VARCHAR},#{validStatus,jdbcType=VARCHAR},#{auditStatus,jdbcType=VARCHAR},#{validEndDate,jdbcType=DATE},#{createDate,jdbcType=DATE},#{creatorCode,jdbcType=VARCHAR},#{updateDate,jdbcType=DATE},#{updaterCode,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},
    #{userLevel,jdbcType=VARCHAR },#{jobTitle,jdbcType=VARCHAR },#{department,jdbcType=VARCHAR },#{businessLevel,jdbcType=VARCHAR },#{state,jdbcType=VARCHAR })
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.ims.kernel.entity.UtiIUser" >
    insert into UtiIUser
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="userCode != null" >
        UserCode,
		</if>
<if test="userName != null" >
        UserName,
		</if>
<if test="salesManCode != null" >
        SalesManCode,
		</if>
<if test="salesManName != null" >
        SalesManName,
		</if>
<if test="userType != null" >
        UserType,
		</if>
<if test="userSort != null" >
        UserSort,
		</if>
<if test="comCode != null" >
        ComCode,
		</if>
<if test="newUserCode != null" >
        NewUserCode,
		</if>
<if test="oldUserCode != null" >
        OldUserCode,
		</if>
<if test="crossUserFlag != null" >
        CrossUserFlag,
		</if>
<if test="roamingType != null" >
        RoamingType,
		</if>
<if test="roamingStatus != null" >
        RoamingStatus,
		</if>
<if test="roamComCode != null" >
        RoamComCode,
		</if>
<if test="validStatus != null" >
        ValidStatus,
		</if>
<if test="auditStatus != null" >
        AuditStatus,
		</if>
<if test="validEndDate != null" >
        ValidEndDate,
		</if>
<if test="createDate != null" >
        CreateDate,
		</if>
<if test="creatorCode != null" >
        CreatorCode,
		</if>
<if test="updateDate != null" >
        UpdateDate,
		</if>
<if test="updaterCode != null" >
        UpdaterCode,
		</if>
<if test="flag != null" >
        Flag,
		</if>
<if test="userLevel != null">
		UserLevel,
		</if>
<if test="jobTitle != null">
		JobTitle,
		</if>
<if test="department != null">
		Department,
		</if>
<if test="businessLevel != null">
		BusinessLevel,
		</if>
<if test="state != null">
		state,
		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="userCode != null" >
        UserCode,jdbcType=VARCHAR,
		</if>
		<if test="userName != null" >
        UserName,jdbcType=VARCHAR,
		</if>
		<if test="salesManCode != null" >
        SalesManCode,jdbcType=VARCHAR,
		</if>
		<if test="salesManName != null" >
        SalesManName,jdbcType=VARCHAR,
		</if>
		<if test="userType != null" >
        UserType,jdbcType=VARCHAR,
		</if>
		<if test="userSort != null" >
        UserSort,jdbcType=VARCHAR,
		</if>
		<if test="comCode != null" >
        ComCode,jdbcType=VARCHAR,
		</if>
		<if test="newUserCode != null" >
        NewUserCode,jdbcType=VARCHAR,
		</if>
		<if test="oldUserCode != null" >
        OldUserCode,jdbcType=VARCHAR,
		</if>
		<if test="crossUserFlag != null" >
        CrossUserFlag,jdbcType=VARCHAR,
		</if>
		<if test="roamingType != null" >
        RoamingType,jdbcType=VARCHAR,
		</if>
		<if test="roamingStatus != null" >
        RoamingStatus,jdbcType=VARCHAR,
		</if>
		<if test="roamComCode != null" >
        RoamComCode,jdbcType=VARCHAR,
		</if>
		<if test="validStatus != null" >
        ValidStatus,jdbcType=VARCHAR,
		</if>
		<if test="auditStatus != null" >
        AuditStatus,jdbcType=VARCHAR,
		</if>
		<if test="validEndDate != null" >
        ValidEndDate,jdbcType=DATE,
		</if>
		<if test="createDate != null" >
        CreateDate,jdbcType=DATE,
		</if>
		<if test="creatorCode != null" >
        CreatorCode,jdbcType=VARCHAR,
		</if>
		<if test="updateDate != null" >
        UpdateDate,jdbcType=DATE,
		</if>
		<if test="updaterCode != null" >
        UpdaterCode,jdbcType=VARCHAR,
		</if>
		<if test="flag != null" >
        Flag,jdbcType=VARCHAR,
		</if>
		<if test="userLevel != null" >
        userLevel,jdbcType=VARCHAR,
		</if>
		<if test="jobTitle != null" >
        jobTitle,jdbcType=VARCHAR,
		</if>
		<if test="department != null" >
        department,jdbcType=VARCHAR,
		</if>
		<if test="businessLevel != null" >
        businessLevel,jdbcType=VARCHAR,
		</if>
		<if test="State != null" >
        state,jdbcType=VARCHAR
		</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.ims.kernel.entity.UtiIUser" >
    update UtiIUser 
    <set >
		
<if test="userName  != null" >      
        UserName = #{userName ,jdbcType=VARCHAR},</if>
<if test="salesManCode  != null" >      
        SalesManCode = #{salesManCode ,jdbcType=VARCHAR},</if>
<if test="salesManName  != null" >      
        SalesManName = #{salesManName ,jdbcType=VARCHAR},</if>
<if test="userType  != null" >      
        UserType = #{userType ,jdbcType=VARCHAR},</if>
<if test="userSort  != null" >      
        UserSort = #{userSort ,jdbcType=VARCHAR},</if>
<if test="comCode  != null" >      
        ComCode = #{comCode ,jdbcType=VARCHAR},</if>
<if test="newUserCode  != null" >      
        NewUserCode = #{newUserCode ,jdbcType=VARCHAR},</if>
<if test="oldUserCode  != null" >      
        OldUserCode = #{oldUserCode ,jdbcType=VARCHAR},</if>
<if test="crossUserFlag  != null" >      
        CrossUserFlag = #{crossUserFlag ,jdbcType=VARCHAR},</if>
<if test="roamingType  != null" >      
        RoamingType = #{roamingType ,jdbcType=VARCHAR},</if>
<if test="roamingStatus  != null" >      
        RoamingStatus = #{roamingStatus ,jdbcType=VARCHAR},</if>
<if test="roamComCode  != null" >      
        RoamComCode = #{roamComCode ,jdbcType=VARCHAR},</if>
<if test="validStatus  != null" >      
        ValidStatus = #{validStatus ,jdbcType=VARCHAR},</if>
<if test="auditStatus  != null" >      
        AuditStatus = #{auditStatus ,jdbcType=VARCHAR},</if>
<if test="validEndDate  != null" >      
        ValidEndDate = #{validEndDate ,jdbcType=DATE},</if>
<if test="createDate  != null" >      
        CreateDate = #{createDate ,jdbcType=DATE},</if>
<if test="creatorCode  != null" >      
        CreatorCode = #{creatorCode ,jdbcType=VARCHAR},</if>
<if test="updateDate  != null" >      
        UpdateDate = #{updateDate ,jdbcType=DATE},</if>
<if test="updaterCode  != null" >      
        UpdaterCode = #{updaterCode ,jdbcType=VARCHAR},</if>
<if test="flag  != null" >      
        Flag = #{flag ,jdbcType=VARCHAR},</if>
<if test="userLevel  != null" >      
        userLevel = #{userLevel ,jdbcType=VARCHAR },</if>
<if test="jobTitle  != null" >      
        jobTitle = #{jobTitle ,jdbcType=VARCHAR },</if>
<if test="department  != null" >      
        department = #{department ,jdbcType=VARCHAR },</if>
<if test="businessLevel  != null" >      
        businessLevel = #{businessLevel ,jdbcType=VARCHAR },</if>
<if test="state  != null" >      
        state = #{state ,jdbcType=VARCHAR }</if>
    </set>
    where 
		<if test="userCode  != null" >
        UserCode = #{userCode ,jdbcType=VARCHAR}
      </if>		
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.ims.kernel.entity.UtiIUser" >
    update UtiIUser
    set 
				
<if test="userName  != null" >UserName = #{userName ,jdbcType=VARCHAR},</if>		
<if test="salesManCode  != null" >SalesManCode = #{salesManCode ,jdbcType=VARCHAR},</if>		
<if test="salesManName  != null" >SalesManName = #{salesManName ,jdbcType=VARCHAR},</if>		
<if test="userType  != null" >UserType = #{userType ,jdbcType=VARCHAR},</if>		
<if test="userSort  != null" >UserSort = #{userSort ,jdbcType=VARCHAR},</if>		
<if test="comCode  != null" >ComCode = #{comCode ,jdbcType=VARCHAR},</if>		
<if test="newUserCode  != null" >NewUserCode = #{newUserCode ,jdbcType=VARCHAR},</if>		
<if test="oldUserCode  != null" >OldUserCode = #{oldUserCode ,jdbcType=VARCHAR},</if>		
<if test="crossUserFlag  != null" >CrossUserFlag = #{crossUserFlag ,jdbcType=VARCHAR},</if>		
<if test="roamingType  != null" >RoamingType = #{roamingType ,jdbcType=VARCHAR},</if>		
<if test="roamingStatus  != null" >RoamingStatus = #{roamingStatus ,jdbcType=VARCHAR},</if>		
<if test="roamComCode  != null" >RoamComCode = #{roamComCode ,jdbcType=VARCHAR},</if>		
<if test="validStatus  != null" >ValidStatus = #{validStatus ,jdbcType=VARCHAR},</if>		
<if test="auditStatus  != null" >AuditStatus = #{auditStatus ,jdbcType=VARCHAR},</if>		
<if test="validEndDate  != null" >ValidEndDate = #{validEndDate ,jdbcType=DATE},</if>		
<if test="createDate  != null" >CreateDate = #{createDate ,jdbcType=DATE},</if>		
<if test="creatorCode  != null" >CreatorCode = #{creatorCode ,jdbcType=VARCHAR},</if>		
<if test="updateDate  != null" >UpdateDate = #{updateDate ,jdbcType=DATE},</if>		
<if test="updaterCode  != null" >UpdaterCode = #{updaterCode ,jdbcType=VARCHAR},</if>		
<if test="flag  != null" >Flag = #{flag ,jdbcType=VARCHAR},</if>		
<if test="userLevel  != null" >userLevel = #{userLevel ,jdbcType=VARCHAR },</if>		
<if test="jobTitle  != null" >jobTitle = #{jobTitle ,jdbcType=VARCHAR },</if>		
<if test="department  != null" >department = #{department ,jdbcType=VARCHAR },</if>		
<if test="businessLevel  != null" >businessLevel = #{businessLevel ,jdbcType=VARCHAR },</if>		
<if test="state  != null" >state = #{state ,jdbcType=VARCHAR }</if>		
    where 
			<if test="userCode  != null" >
        UserCode = #{userCode ,jdbcType=VARCHAR}
      </if>	
  </update>
  <!--用户分页条件查询 add by xieZhen begin -->

	<resultMap extends="BaseResultMap" id="prpduserMap"
		type="com.sinosoft.ims.kernel.dto.UserQueryConditionDto">
		<result column="education" property="education" jdbcType="VARCHAR"></result>
		<result column="nation" property="nation" jdbcType="VARCHAR"></result>
		<result column="qualificationFlag" property="qualificationFlag"
			jdbcType="VARCHAR"></result>
		<result column="contractStratDate" property="contractStratDate"></result>
		<result column="contractEndDate" property="contractEndDate"></result>
		<result column="OfficePhone" property="officePhone" jdbcType="VARCHAR" />
		<result column="FaxNumber" property="faxNumber" jdbcType="VARCHAR" />
		<result column="Mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" />
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectByCondition" resultMap="prpduserMap"
		parameterType="com.sinosoft.ims.kernel.dto.UserQueryConditionDto">
		select

		u.userCode,
		u.userName,
		u.department,
		u.userLevel,
		u.jobTitle,
		u.state,
		u.comCode,
		u.validStatus,

		<!-- e.userCode, -->
		e.nation,
		e.qualificationFlag,
		e.education,
		e.contractStratDate,
		e.contractEndDate,
		e.officePhone ,
		e.faxNumber,
		e.mobile,
		e.email

		from utiiuser u,
		utiiuseridv e

		where
		u.userCode=e.userCode and u.flag = '1'
		<if test="userCode  != null and userCode !='' ">
			and u.userCode = #{userCode,jdbcType=VARCHAR }
		</if>
		<if test="userName  != null and userName !=''">
			and u.userName like '%${userName}%'
		</if>
		<if test="department  != null and department !=''">
			and u.department = #{department,jdbcType=VARCHAR }
		</if>
		<if test="nation  != null and nation !=''">
			and e.nation = #{nation,jdbcType=VARCHAR }
		</if>
		<if test="jobTitle  != null and jobTitle !=''">
			and u.jobTitle = #{jobTitle,jdbcType=VARCHAR }
		</if>
		<if test="state  != null and state !=''">
			and u.state = #{state,jdbcType=VARCHAR }
		</if>
		<if test="userLevel  != null and userLevel !=''">
			and u.userLevel = #{userLevel,jdbcType=VARCHAR }
		</if>
		<if test="qualificationFlag  != null and qualificationFlag !=''">
			and e.qualificationFlag =
			#{qualificationFlag,jdbcType=VARCHAR }
		</if>
		<if test="education  != null and education !=''">
			and e.education = #{education,jdbcType=VARCHAR }
		</if>
		<if test="comCode  != null and comCode !=''">
			and u.comCode = #{comCode ,jdbcType=VARCHAR}
		</if>
		<if test="validStatus  != null and validStatus !=''">
			and u.validStatus = #{validStatus ,jdbcType=VARCHAR}
		</if>
		<!-- 合同时间区间 -->
		<if test="contractStratDate != null and contractStratDate !=''">
			<![CDATA[
			and DATE_FORMAT(contractStratDate, '%Y-%m-%d') >= DATE_FORMAT(#{contractStratDate}, '%Y-%m-%d')
			]]>
		</if>
		<if test="contractEndDate != null and contractEndDate !=''">
		<![CDATA[
			and DATE_FORMAT(contractEndDate, '%Y-%m-%d') <= DATE_FORMAT(#{contractEndDate}, '%Y-%m-%d')
			]]>
		</if>

	</select>
	<!--用户分页条件查询 add by xieZhen end -->

	<sql id="ALL_Column_List">
		u.userCode, u.userName, u.salesManCode, u.salesManName, u.userType, u.userSort, u.comCode,
		u.newUserCode, u.oldUserCode, u.crossUserFlag, u.roamingType, u.roamingStatus, u.roamComCode, u.validStatus, 
		u.auditStatus, u.validEndDate, u.createDate, u.creatorCode, u.updateDate, u.updaterCode, u.flag,
		u.userLevel, u.jobTitle, u.department, u.businessLevel, u.state,
		<!-- d.userCode, d.userName, d.salesManCode, d.comCode, -->
		d.recordManCode, d.salesManName, d.headComCode, d.proviceComCode, d.cityComCode, d.cityComName, d.identityType,
		d.modifyPasswdFlag, d.shareFlag, d.receivePwEMail, d.newUserCode, d.homePhone, d.officePhone, d.faxNumber,
		d.mobile, d.email, d.postAddress, d.postCode, d.addressCName, d.addressEName, d.identifyNumber,
		d.creditLevel, d.sex, d.birthDate, d.age, d.health, d.occupationCode, d.education,
		d.unit, d.unitAddress, d.customerFlag, d.bank, d.account, d.iP, d.terminalCode,
		d.markCode, d.source, d.seal, d.remark, d.flag, d.createDate, d.creatorCode,
		d.updateDate, d.updaterCode, d.marriage, d.graduateSchool, d.professional, d.nationality, d.nation,
		d.province, d.residenceAddr, d.politicalState, d.workYears, d.qualificationFlag, d.qualificationNo, d.certificateStartDate,
		d.certificateEndDate, d.issuingAuthority, d.appointDate, d.officeFlag, d.fullTimeFlag, d.contractStratDate, d.contractEndDate,
		d.contractNo, d.entryDate, d.leaveDate, d.socialIdentity, d.annualLeave, d.introducer, d.archivesLocation,
		d.archivesInFlag, d.archivesInDate, d.archivesNo, d.organizRelationLocation, d.organizRelationInFlag, d.organizRelationInDate
	</sql>

	<!-- 再保公司关系人 -->
	<resultMap id="selectUserDto" type="com.sinosoft.ims.kernel.dto.UserDto" extends="com.sinosoft.ims.kernel.dao.UtiIUserIdvMapper.BaseResultMap">
		<!-- <result column="UserCode" property="userCode" jdbcType="VARCHAR" /> -->
		<!-- <result column="UserName" property="userName" jdbcType="VARCHAR" /> -->
		<!-- <result column="SalesManCode" property="salesManCode" jdbcType="VARCHAR" /> -->
		<result column="SalesManName" property="salesManName" jdbcType="VARCHAR" />
		<result column="UserType" property="userType" jdbcType="VARCHAR" />
		<result column="UserSort" property="userSort" jdbcType="VARCHAR" />
		<!-- <result column="ComCode" property="comCode" jdbcType="VARCHAR" /> -->
		<result column="NewUserCode" property="newUserCode" jdbcType="VARCHAR" />
		<result column="OldUserCode" property="oldUserCode" jdbcType="VARCHAR" />
		<result column="CrossUserFlag" property="crossUserFlag" jdbcType="VARCHAR" />
		<result column="RoamingType" property="roamingType" jdbcType="VARCHAR" />
		<result column="RoamingStatus" property="roamingStatus" jdbcType="VARCHAR" />
		<result column="RoamComCode" property="roamComCode" jdbcType="VARCHAR" />
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" />
		<result column="AuditStatus" property="auditStatus" jdbcType="VARCHAR" />
		<result column="ValidEndDate" property="validEndDate" jdbcType="DATE" />
		<result column="CreateDate" property="createDate" jdbcType="DATE" />
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" />
		<result column="UpdateDate" property="updateDate" jdbcType="DATE" />
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		<result column="UserCode" property="userCode" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="SalesManCode" property="salesManCode" jdbcType="VARCHAR" />
		<result column="SalesManName" property="salesManName" jdbcType="VARCHAR" />
		<result column="UserType" property="userType" jdbcType="VARCHAR" />
		<result column="UserSort" property="userSort" jdbcType="VARCHAR" />
		<result column="ComCode" property="comCode" jdbcType="VARCHAR" />
		<result column="NewUserCode" property="newUserCode" jdbcType="VARCHAR" />
		<result column="OldUserCode" property="oldUserCode" jdbcType="VARCHAR" />
		<result column="CrossUserFlag" property="crossUserFlag" jdbcType="VARCHAR" />
		<result column="RoamingType" property="roamingType" jdbcType="VARCHAR" />
		<result column="RoamingStatus" property="roamingStatus" jdbcType="VARCHAR" />
		<result column="RoamComCode" property="roamComCode" jdbcType="VARCHAR" />
		<result column="ValidStatus" property="validStatus" jdbcType="VARCHAR" />
		<result column="AuditStatus" property="auditStatus" jdbcType="VARCHAR" />
		<result column="ValidEndDate" property="validEndDate" jdbcType="DATE" />
		<result column="CreateDate" property="createDate" jdbcType="DATE" />
		<result column="CreatorCode" property="creatorCode" jdbcType="VARCHAR" />
		<result column="UpdateDate" property="updateDate" jdbcType="DATE" />
		<result column="UpdaterCode" property="updaterCode" jdbcType="VARCHAR" />
		<result column="Flag" property="flag" jdbcType="VARCHAR" />
		<result column="UserLevel" property="userLevel" jdbcType="VARCHAR" />
		<result column="JobTitle" property="jobTitle" jdbcType="VARCHAR" />
		<result column="Department" property="department" jdbcType="VARCHAR" />
		<result column="BusinessLevel" property="businessLevel" jdbcType="VARCHAR" />
		<result column="State" property="state" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectUserDtoByCondition" resultMap="selectUserDto" parameterType="java.util.Map">
		SELECT DISTINCT 
		<include refid="ALL_Column_List" />
		FROM
		(utiiuser u LEFT JOIN utiiuseridv d
		ON u.userCode = d.userCode) LEFT JOIN utiiuserclass uc ON u.userCode = uc.userCode 
		where 1=1 and u.validStatus = '1'
		<if test="userCode != null and userCode != ''" >
       		and u.userCode = #{userCode,jdbcType=VARCHAR}
     	</if>
		<if test="comCode != null and comCode != ''" >
       		and u.comCode = #{comCode,jdbcType=VARCHAR}
     	</if>
     	<if test="userSort != null and userSort != ''">
     		and u.userSort = #{userSort, jdbcType=VARCHAR}
     	</if>
     	<if test="classCode != null and classCode != ''" >
       		and uc.classCode = #{classCode,jdbcType=VARCHAR}
     	</if>
     	<if test="validStatus != null and validStatus != ''" >
       		and uc.validStatus = #{validStatus,jdbcType=VARCHAR}
     	</if>
     	<if test="crossUserFlag !=null and crossUserFlag != ''">
     		and u.crossUserFlag = #{crossUserFlag,jdbcType=VARCHAR}
     	</if>
     	<!-- <if test="businessType !=null and businessType != ''">
     		and (u.crossUserFlag != '1' or u.crossUserFlag is null)
     	</if> -->
</select>

	<!-- 联系人险类 -->
	<select id="selectUserByCondition" resultMap="prpduserMap" parameterType="com.sinosoft.ims.kernel.dto.UserQueryConditionDto">
		SELECT distinct
		u.userCode,
		u.userName,
		u.department,
		u.jobTitle,
		u.comCode,
		v.officePhone ,
		v.faxNumber,
		v.mobile,
		v.email

		FROM utiiuser u
		JOIN utiiuseridv v
		ON u.userCode = v.userCode
		JOIN utiiuserclass uc
		ON u.userCode = uc.userCode
		where 1=1 and u.flag = '0'
		<if test="userCode != null and userCode != ''" >
       		and u.userCode = #{userCode,jdbcType=VARCHAR}
     	</if>
		<if test="comCode != null and comCode != ''" >
       		and u.comCode = #{comCode,jdbcType=VARCHAR}
     	</if>
     	<if test="userName  != null and userName !=''">
			and u.userName like '%${userName}%'
		</if>
		<if test="department  != null and department !=''">
			and u.department = #{department,jdbcType=VARCHAR }
		</if>
		<if test="email  != null and email !=''">
			and v.email = #{email,jdbcType=VARCHAR }
		</if>
     	<if test="classCode != null and classCode != ''" >
       		and uc.classCode = #{classCode,jdbcType=VARCHAR}
       		and uc.validStatus = '1'
     	</if>
</select>

</mapper>