<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="url" value="${db.manager.url}" />
		<property name="username" value="${db.manager.username}" />
		<property name="password" value="${db.manager.password}" />
		<property name="proxyFilters">
	        <list>
	        	<ref bean="stat-filter" />
	            <ref bean="log-filter" />
	        </list>
	    </property>
	</bean>
	
	<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
		<property name="slowSqlMillis" value="3000" />
		<property name="logSlowSql" value="true" />
		<property name="mergeSql" value="true" />
	</bean>	
	
	<!-- druid 日志输出filter -->
	<bean id="log-filter" class="com.alibaba.druid.filter.logging.Log4jFilter">
 		<property name="statementExecutableSqlLogEnable" value="true" />
 		<property name="resultSetLogEnabled" value="false" />
 		<property name="statementLogEnabled" value="false" />
 		<property name="connectionLogEnabled" value="false" />
 		<property name="dataSourceLogEnabled" value="false" />
    </bean>
    
	<!-- 开启事务注解驱动 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>